 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 515px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 479px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 13px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 46px 317px 0 87px;
}

.u-section-1 .u-line-1 {
  width: 40px;
  transform-origin: left center 0px;
  margin: -26px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 46px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 30px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-1 .u-image-1 {
  background-image: url("images/52-removebg-preview.png");
  background-position: 50% 50%;
  min-height: 479px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 68px;
    margin-right: 196px;
    margin-left: 88px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1.21;
  }

  .u-section-1 .u-line-1 {
    margin-top: -24px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 400;
    width: auto;
    margin-top: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 66px;
    margin-left: 86px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-image-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 6px 10px 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 16px;
    margin-right: 64px;
    margin-left: 88px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-image-1 {
    min-height: 702px;
    background-position: 50% 96.69%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-right: -68px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -13px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 442px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 715px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 947px;
  margin: 93px auto 20px;
}

.u-section-2 .u-image-1 {
  min-height: 284px;
  --effect-scale: 1;
  background-image: url("images/52.jpg");
  background-position: 50% 36.33%;
  --radius: 10px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 0px 8px 40px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: ABeeZee;
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-2 .u-image-2 {
  min-height: 284px;
  --effect-scale: 1;
  background-image: url("images/58.jpeg");
  background-position: 50% 60.37%;
  --radius: 10px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 0px 8px 40px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 282px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 282px;
  }

  .u-section-2 .u-btn-1 {
    height: 38px;
    width: 99px;
  }

  .u-section-2 .u-image-2 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 204px;
  }

  .u-section-2 .u-image-2 {
    min-height: 204px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-group-1 {
  width: 710px;
  min-height: 627px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  --radius: 20px;
  margin: 55px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 40px 50px 80px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-form-1 {
  width: 515px;
  margin: 20px auto 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-3 .u-list-1 {
  width: 512px;
  height: auto;
  margin: -570px auto 113px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  grid-gap: 21px 21px;
  min-height: 512px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px -9px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px -9px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px -9px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px -9px 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 624px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 451px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-3 .u-group-1 {
    width: 559px;
    min-height: 627px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 125px 30px 30px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-3 .u-group-1 {
    width: 500px;
    min-height: 615px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1611px;
  }

  .u-section-3 .u-group-1 {
    min-height: 563px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 16px;
}